body {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-family: 'Raleway', sans-serif;
	width: 100%;
	height: 100%;
}

.titleimage{
	position: relative;
    width: 100%;
    height: 20vw;
    max-height: 95vh;
    overflow: hidden;
    background-size: 100vw 20vw;
    background-position: top;
}

.titleimage img {
    vertical-align: bottom;
    width: 100%;
}

.title{
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font: 0/0 a;
}

.title:before{
    content: ' ';
    display: inline-block;
    height: 100%;
    vertical-align: middle;    
}

.title h1, h2{
    font: 100px/1 'Bungee', sans-serif;
    font-size: 12vw;
    color: black;
    opacity: 0.8;
    display: inline-block;
    vertical-align: middle;
    text-align:center;
    width: 100%;
    padding: 1% 0;
}

.title h2{
    font-size: 6vw;
}

#menuFlex {
  height: 60px;
  width: 100%;
  display: flex;
  background-color: #282828;
  color: lightgrey;
  z-index: 99;
  font-size: 1.5vw;
}

.menuItem{
	flex: 1 1 100%;
	line-height: 60px;
	text-align: center;
	transition: 0.7s;
}

.menuItem:hover{
	background-color: black;
}

a {
  	color: inherit;
  	text-decoration: inherit;
}

.content{
	background-color: darkgrey;
	display: flex;
}

.tile{
	flex: 1 1 100%;
	margin: 1vw;
}

.tile img{
	width: 50%;
	border-radius: 50%;
	border: 0.7vw solid black;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}

h3{
	text-align: center;
	font: 100px/1 'Bungee', sans-serif;
	font-size: 3vw;
	margin-top: 0px;
	margin-bottom: 0px;
}

.tile p{
	margin: 10px;
}